@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

html, .font-primary{
  font-family: "Inter", serif !important;
}

#sidebar {
}

#chat-container{
  background-image: url("https://simon.red/beanschat/pattern.png") !important;
  background-size: 35% auto !important;
  background-repeat: no-repeat !important;
  background-position-x: calc(100% + 10%) !important;
  background-position-y: calc(10%) !important;
}

is(.dark .dark\:bg-gray-900) {
  background-color: #404040 !important;
}

:is(.dark .dark\:bg-gray-950) {
  background-color: #101010 !important;
}

[aria-label="Call"] {
  display: none !important;
}

[aria-label="Record voice"]{
  display: none !important;
}

[aria-label="Read Aloud"]{
  display: none !important;
}

[aria-label="Generate Image"]{
  display: none !important;
}
[aria-label="Add Model"] {
  display: none !important;
}
[aria-label="Help"] {
  display: none !important;
}

.absolute.bottom-8.right-8.z-50 {
  display: none;
}

.object-cover{
  object-fit: contain !important;
}

img[src="/user.png"] {
  display: none;
}
